<div class="container ">

    <div class="info mt-2 m-1 p-1 pt-5 ">


        <div class="row g-3 justify-content-around">
            <div class="col-lg-5 col-md-12 col-sm-12 me-3">
                <img id="move" src="assets/images/award2.jpg">
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 p-3 bg-light">
                <h1 class="text-center awards">Purpose</h1>
                <div id="effect">
                    <p class="awards"> What is the purpose of photography? To me, the purpose of photography is documenting the joy in our lives, and sharing that joy with others.</p>
                    <ol>
                        <li class="awards">Artistic outlet: To fully experience happiness in life, we must create; make stuff. Photography is one of the best and easiest ways to make art— that is open and accessible to all of us. The more photos we make, the happier and
                            more fulfilled we feel in life.

                        </li>
                        <li class="awards">Physical and mental therapy: The more we shoot, the more we force ourselves to look around us, and appreciate the beauty around us. This allows us to find beauty in the mundane and ordinary of our everyday lives. Even now after
                            I have traveled the world, I find the greatest beauty in the most ordinary places — photographing at home, at the local grocery store, at the park, or just even walking around the block.</li>
                        <li class="awards">Cheerfulness: I feel the most enlightened people are the ones who are cheerful; always in an uplifted mood, and can find joy in the smallest things of everyday life.</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>



    <div class="info mt-2 m-1 p-1 pt-5 pb-5">
        <div class="info mt-4 m-1 p-1 ">
            <div class="row justify-content-around">
                <div class="col-lg-5 col-md-12 col-sm-12 me-3 p-3 bg-light">
                    <h1 class="text-center awards">Inspiration</h1>
                    <p class="awards"> One of the hardest things to do when capturing good images is getting enough inspiration, especially when the place is not doing it for you. Have you ever wondered how to overcome this feeling?
                    </p>
                    <p class="awards">Sometimes you just need some guidance.
                    </p>
                    <p class="awards">First I find an image that I wish to photograph. Not only will this serve as a guideline for success but it will also help you to think about the elements that make that particular photograph so interesting. Is it the light? The expression?
                        The moment? Or the technique? </p>

                    <p class="awards">I am photographing something different. In other words, I am looking for something people don't always look for. Who knows, maybe you thought landscapes were not your thing but it turns out they are!</p>

                    <p class="awards">I can mimic a scene or a movie you like</p>

            
                </div>

                <div id="carouselExampleIndicators" class="carousel slide certificates  col-lg-5 col-md-12 col-sm-12 col-xs-12" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner shadow">
                        <div class="carousel-item active">
                            <img src="assets/images/cert3.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/cert2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/cert1.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden awards">Previous</span>
                </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden awards">Next</span>
                </button>
                </div>
            </div>
        </div>

        <!-- <div class="allcards">
        <div class="container pb-5 mb-5">
            <h3 class="stage pt-3 pb-3"></h3>
            <div class="row g-2">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="bi bi-award-fill" style="font-size: 30px;"></i>
                            <h5 class="card-title hov">VIEPA 2022</h5>
                            <p class="card-text">The 3nd VIENNA INTERNATIONAL PHOTOGRAPHY AWARD <br> Vienna<br> Austia</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="bi bi-award-fill" style="font-size: 30px;"></i>
                            <h5 class="card-title hov">PPP 2021</h5>
                            <p class="card-text">Pulitzer Prize for Photography <br> Broadway
                                <br> New York </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="bi bi-award-fill text" style="font-size: 30px;"></i>
                            <h5 class="card-title hov">SWPA 2019</h5>
                            <p class="card-text">Sony World Photography Awards <br> London
                                <br> UK </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->

    </div>
    <!--end of .container-->