

<div class="container bg-light p-5">
  <div class="row gap-3 row-cols-xs-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-4 justify-content-center">
    <div class="img img1 shadow">
      <div class="overlay"><h3 class="mt-1 josefin">STREET</h3></div>
    </div>
    <div class="img img2 shadow">
      <div class="overlay"><h3 class="mt-1 josefin">NATURE</h3></div>
    </div>
    <div class="img img3 shadow">
      <div class="overlay"><h3 class="mt-1 josefin">EXPERIMENTAL</h3></div>
    </div>
    <div class="img img4 shadow">
      <div class="overlay"><h3 class="mt-1 josefin">ANALOG</h3></div>
    </div>
    <div class="img img5 shadow">
      <div class="overlay"><h3 class="mt-1 josefin">PORTRAIT</h3></div>
    </div>
    <div class="img img6 shadow">
      <div class="overlay"><h3 class="mt-1 josefin">HARBOUR</h3></div>
    </div>
    <div class="img img7 shadow">
      <div class="overlay"><h3 class="mt-1 josefin">DETAILS</h3></div>
    </div>
    <div class="img img8 shadow">
      <div class="overlay"><h3 class="mt-1 josefin">POLAROID</h3></div>
    </div>
    <div class="img img9 shadow">
      <div class="overlay"><h3 class="mt-1 josefin">FAVORITES</h3></div>
    </div>
  </div>
</div>