<div class="container testimonials">
    <div class="container-fluid bg-light py-3 my-3">
        <div class=" d-flex flex-row justify-content-between ">
            <div class="card-group">
                <div class=" row g-4 flex-wrap">
                    <div class="col-12 col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">As expected!</h5>
                                <p class="card-text"> We needed a good photographer for our wedding, and everything went
                                    perfect. <br>
                                    Planning was comfortable and did not infere with any other planning which is rare
                                    with
                                    weddings I was told. Full 5 stars </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&starf; &starf; &starf; &starf; &starf; </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Awesome Photographs</h5>
                                <p class="card-text"> I needed a portfolio because I was applying as a Model for
                                    [redacted]
                                    <br>
                                    I was super nervous but Brian was the sweetest and everything went smoothely
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&starf; &starf; &starf; &starf; &starf;</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ahhhhh</h5>
                                <p class="card-text">I thought this would be free because I am important and therfore it
                                    should
                                    be free.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&star; &star; &star; &star; &star;</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">My baby is still my baby</h5>
                                <p class="card-text">I made an appointment for having pictures taken of my baby <br>
                                    When I came over they were surprised that my baby is a purebreed Malamute!!! <br>
                                    I was told there is no place for a malamute on their baby photo scene <br>
                                    At least they didnt charge me anything</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&starf; &star; &star; &star; &star;</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Thank you so much</h5>
                                <p class="card-text"> Got perfect pictures to send to everyone of my baby boy Julius!
                                    <br>
                                    He was a bit whiney because of the Brutus plushy they had, so not full points
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&starf; &starf; &starf; &starf; &star;</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">HUSSAH!</h5>
                                <p class="card-text">We booked Brian because we needed awesome action shots of our
                                    reanactment,
                                    and after some back and forth it all came together. <br>
                                    The picture were superb and super clean, a bit too clean for this kind of
                                    reanactment
                                    but
                                    now they look like from a Hollywood Scene! <br> AWESOME </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&starf; &starf; &starf; &starf; &starf;</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>