<div class="container-fluid d-flex justify-content-around ">
    <div class="row container row-cols-lg-2 row-cols-md-1 bg-light mt-3 mb-3 m-5 contact">
        <div class="col-md-6">
            <ul class="list text-start mt-4 text-start">
            <div class="fw-bold fs-4">Location</div>
            <img src="/assets/images/map.jpg" alt="Logo" class="map">
            <div class="fw-bold fs-4 m-1">Contact</div>
            <li><div><i class="fa-solid fa-location-dot"></i> Gersthofer Str. 24/1, 1180 Wien</div></li>
            <li><div><i class="fa-solid fa-clock"></i> Mo-Fr 10:00-18:00</div></li>
            <li><div><i class="fa-solid fa-phone"></i> +43 676/9328543</div></li>
            </ul>
        </div>
        <div class="col">
            <div class="col-md-12 col-lg-6 mt-5">
                <div class="">
                    <label for="emaillabel">Your Email address</label>
                    <input type="text" class="form-control" placeholder="Enter email" aria-label="Email address" id ="emaillabel">
                    <small class="form-text">I'll never share your email with anyone else.</small>
                </div>
                <div class="mt-2">
                    <label for="formpass">Name</label>
                    <input type="text" class="form-control formpass" placeholder="StreetName" aria-label="Name">
                </div>
                <div class="mt-2">
    
                    <label for="txtarea">Send me a Message</label>
                    <textarea class="form-control txtarea" aria-label="With textarea"></textarea>
    
                </div>
              <div class="formbtn mt-3 mb-3"><a href="#" class="btn btn-success" class="pb-3">Submit</a></div>
            </div>
    
        </div>
    </div>
</div>