<div class="container bg-light mb-4 py-3 customers">
    <div class="container">
        <div class="row my-3 justify-content-center h1">Our Customers</div>
        <div class="container d-flex justify-content-around">
            <div class="row justify-content-between">
                <div class="col-3">
                    <div class="row ">
                        <img src="../../assets/images/aperture.png" alt="">
                    </div>
                    <div class="row mt-2  d-flex justify-content-center flex-column text-center">
                        They do what they want <br>
                        because <br>
                        They Can.
                    </div>
                </div>
                <div class="col-3">
                    <div class="row ">
                        <img src="../../assets/images/umbrella.png" alt="">
                    </div>
                    <div class="row mt-2  d-flex justify-content-center flex-column text-center">
                        Future Healthcare now. <br>
                        Never Age<br>
                        Biological Genome Research

                    </div>
                </div>
                <div class="col-3">
                    <div class="row ">
                        <img src="../../assets/images/shinra.png" alt="">
                    </div>
                    <div class="row mt-2  d-flex justify-content-center flex-column text-center">
                        The Enegry of the Future <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>