<div class="container about">
    <div class="container-fluid bg-light my-5 py-4 text-center">
        <p>I am Brian Adams, professional photographer from Austria, living working in Vienna. <br>
            My photostudio is in the 18th district and I work mainly as an event-photographer, wedding-phographer and
            have
            experience with photographing babies</p>

        <p>I love to work with people and can make special photos for all kind of events and occasions. <br>
            Be it your professional photo-portfolio for a careerpath, specific themes for costume shots or viking themed
            bachelor parties.</p>
        <p>I love photograph at the “golden hour” (the period shortly after sunrise or before sunset): Light matters and
            having beautiful light can impact the way of photographing.
            I have a camera with me…always. The important thing here is to continue to training an eye.
            To see more of our work, take a look at our Galery.</p>

        <button routerLink="/app-contacts" class="btn btn-md btn-success me-5">Get in Touch</button> <button
            routerLink="/app-galery" class="btn btn-md btn-success ms-5">To the Galery</button>

    </div>

</div>