<div class="bg-light text-center pt-5">
    <!-- Grid container -->
    <div class="footlightblue">
        <!-- Section: Social media -->
        <section class="p-3 pb-5">
            <!-- Facebook -->
            <i class="fa fa-facebook-square icon me-5" style="font-size:25px;color:black"></i>

            <!-- Twitter -->
            <i class="fa fa-twitter icon me-5" style="font-size:25px;color:black"></i>

            <!-- Google -->
            <i class="fa fa-google icon me-5" style="font-size:25px;color:black"></i>

            <!-- Instagram -->
            <i class="fa fa-instagram  icon me-5" style="font-size:25px;color:black"></i>

            <!-- Linkedin -->
            <i class="fa fa-linkedin  icon me-5" style="font-size:25px;color:black"></i>

            <!-- Github -->
            <i class="fa fa-github  icon me-4" style="font-size:25px;color:black"></i>
        </section>
        <!-- Section: Social media -->

    </div>
    <!-- Copyright -->

    <div class="text-center p-3" id="foot">
        <p class="m-0 pb-2">&copy; Copyright 2022 Team 6</p>
    </div>
</div>