.icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
    transition-timing-function: ease-in;
    color: #DA993D;
}

.foot:hover {
    transform: scale(1.05);
    transition: 0.3s;
    transition-timing-function: ease-in;
    color: #DA993D;
}